replicaCount: 1

image:
  repository: devlopesbernardo/bmi-calculator-health-service
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8082
  targetPort: 8082

env:
  PORT: "8082"
  IMAGE_VERSION: "latest"

livenessProbe:
  httpGet:
    path: /live
    port: 8082
  initialDelaySeconds: 30
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /ready
    port: 8082
  initialDelaySeconds: 5
  periodSeconds: 5

nodeSelector:
  karpenter.sh/nodepool: default

resources: {}
