replicaCount: 5

image:
  repository: devlopesbernardo/bmi-calculator-bmi-service
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8081
  targetPort: 8081

env:
  PORT: "8081"
  IMAGE_VERSION: "latest"

livenessProbe:
  httpGet:
    path: /health
    port: 8081
  initialDelaySeconds: 30
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /health
    port: 8081
  initialDelaySeconds: 5
  periodSeconds: 5

nodeSelector:
  karpenter.sh/nodepool: default

resources: {}
